<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AndritzHydro.Tuccos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AndritzHydro.Tuccos.Properties.Settings>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>AndritzHydro2019.mdf</value>
            </setting>
            <setting name="SqlServer" serializeAs="String">
                <value>(LocalDB)\MSSQLLocalDB</value>
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value>..\..\..\andritzhydro.web\app_data</value>
            </setting>
            <setting name="UseWebService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultCountry" serializeAs="String">
                <value>DE</value>
            </setting>
            <setting name="DefaultTask" serializeAs="String">
                <value>1</value>
            </setting>
        </AndritzHydro.Tuccos.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProject" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50603/project.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProject" contract="Model.IProject"
                name="BasicHttpBinding_IProject" />
        </client>
    </system.serviceModel>
</configuration>